{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsonc/recommended-with-json"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": "error",
        "quotes": [
            "error",
            "single"
        ],
        "indent": [
            "error",
            4
        ],
        "jsonc/sort-keys": "error"
    },
    "overrides": [
        {
            "files": [
                "test/**/*.ts"
            ],
            "rules": {
                "@typescript-eslint/ban-ts-ignore": "off",
                "@typescript-eslint/ban-ts-comment": "off"
            }
        },
        {
            "files": [
                "*.json"
            ],
            "parser": "jsonc-eslint-parser"
        }
    ]
}
