{
    "check-coverage": true,
    "extends": "@istanbuljs/nyc-config-typescript",
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "coverage/**",
        "node_modules/**"
    ],
    "report-dir": "./docs/coverage/",
    "temp-directory": "./.nyc_output",
    "sourceMap": true,
    "reporter": [
        "text",
        "text-summary",
        "cobertura",
        "html"
    ],
    "all": true,
    "branches": 95,
    "lines": 95,
    "functions": 100,
    "statements": 98,
    "per-file": true
}
